/* 
    Document   : main
    Created on : 30.08.2013, 09:27:33
    Author     : ernst
    Description:
        responsive main stylesheet
*/

.active {background:#60DFE5}
.inactive {background:#f00}
.miniMenu {
    float:left;
    margin:5px; width:140px; height:140px;    
}

.auto {z-index:1;}

.timer {}

.singleNodeImage {
    width:90%;
    height:90%;
    margin-top:5%;
    margin-left:5%;
    display:block;    
}
.nodeOn {background:#6e6}
.nodeOff {background:#e66}

.weekday {
    width:25px; height:25px; float:left; margin-left:5px;
}

.weekday-container {
    clear:both;
}

.weekday-disabled{
    color:#faa;
}

.weekday-enabled{
    color:#3f3;    
}

@media (min-width: 768px) {
    .mainDiv {min-width:768px; height:100%;}
    .toggleEdit {width:100px; height:100px;}
    .toggleCss {margin:10px; float:left; width:200px; height:200px; font-size:14px;}
    .toggleButtonImage {width:190px; height:190px; margin:5px}
    .editButtonImage {width:190px; height:190px; margin:5px}
    .togbig {margin:10px; width:420px; height:200px; text-align:center; float:left;}
    .tools {clear:both;}
    .smallMenu {display:none;}
    .editModal {}
    .editToggleA {}
    .singleNode {
        width:100px; 
        height:93px; 
        bottom:0px; 
        float:left; 
        overflow:hidden; 
        z-index:-1; 
        margin-top:5px;
        margin-left:4px;
    }
}

@media (max-width: 768px) {    
    .mainDiv {width: 700px; height:100%;}
    .toggleEdit {width:50px; height:50px;}
    .toggleCss {margin:5px; float:left; width:150px; height:150px; font-size:14px;}
    .toggleButtonImage {width:140px; height:140px; margin:5px}
    .editButtonImage {width:100px; height:100px; margin:5px}    
    .togbig {margin:10px; width:140px; height:140px; text-align:center;  float:left;} 
    .tools {clear:both;}
    .smallMenu {display:none;}
    .editModal {max-width: 768px;}
    .editToggleA {}
    .singleNode {
        width:30px; 
        height:62px; 
        bottom:0px; 
        float:left; 
        overflow:hidden; 
        z-index:-1; 
        margin-top:5px;
        margin-left:4px;
    }
    
}

@media (max-width: 480px) {
    .mainDiv {width: 460px; height:100%;}
    .toggleEdit {width:40px; height:40px;}
    .toggleCss {margin:5px; width:140px; height:140px; font-size:14px;}
    .toggleButtonImage {width:130px; height:130px; margin:5px}
    .editButtonImage {width:80px; height:80px; margin:5px}
    .togbig {margin:10px; width:420px; height:200px; text-align:center; }
    .tools {display:none;}
    .smallMenu {display:block; float:left; text-align:center;}  
    .editModal {max-width: 420px; margin-left:-210px; margin-top:-50px}
    .editToggleA { font-size:25px;}
    .singleNode {
        display:none;
    }
    .singleNodeImage {
        display:none;
    }
}